<% include partial/header %>
<% include partial/navbar %>
<div class="login-form">

  <div class="login">
    <h1 class="login-header">please login to see the users list</h1>
    <form action="/" id="form" method="post">
      <lable for="" id=username-label>Username</lable>
      <input type="text" id="username" name="username" /><br>
      <label for="" id="password-label">Password</label>
      <input type="password" id="password" name="password" /><br>
      <input type="submit" value="submit" id="submit">
    </form>
  </div>
</div>
<footer class="main-footer">
  <div class="footer-item-index">
    <p> &copy; Users Json</p>
  </div>
</footer>
</body>

</html>