<main>
  <nav class="main-nav">
    <ul class="main-nav__items">
      <li class="main-nav__item"><a href="/">login</a></li>
      <li class="main-nav__item"><a href="/users/add">register</a></li>
    </ul>
  </nav>
</main>